.business-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin:0 6rem;
   }
.info-primary{
    background-color: var(--green);
}
.info-dark{
    background-color:var(--dark-green);
}
.info-container{   
       display:flex;
       justify-content: space-evenly;
       padding:4.5rem 4rem;
      
          
}
.info-icon{
    font-size:5rem;
}
.info-card .info-container h3{
    font-size: 2.8rem;
}
.info-card .info-container p{
    font-size: 1.5rem;
}

@media (max-width:991px){
    
    
}
